@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

/* ABOUT US */
.aboutus {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    /* background-image: url(./assets/about11.png);
    opacity: 0.1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.aboutusHeading {
    text-align: center;
    font-weight: 700;
    margin: 5% 0px;
}

.highlight {
    color: #EE2529;
}

.aboutus p {
    width: 100%;
    text-align: center;
    margin: 0px auto;
    margin-top: 2%;
    padding: 5%;
    font-size: 20px;
}

/* ABOUT US */

/* DIVIDER */


/* KEY IDENTIFIERS */
.keys {
    margin: 10% 0px;
}

.keys .col-lg-6 {
    display: flex;
    justify-content: center;
    margin: auto 0px;
}

.iden {
    margin: 0px !important;
    margin-bottom: 3% !important;
}

.identifier {
    border: 3px solid #FFDD00;
    border-radius: 25px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 1px 10px 1px rgb(0 0 0 / 0.2);
}

.identifier h3 {
    margin-bottom: 2%;
}

.identifier h6 {
    margin: 0px 10%;
    text-align: center;
}

.two {
    background-color: #FFDD00;
}

@media (max-width:500px) {
    .identifier {
        margin-bottom: 10%;
    }
}

/* KEY IDENTIFIERS */

/* OUR VALUES */

.values-text .aboutusHeading {
    margin-top: 10%;
}

.values-logo {
    width: 100px;
    height: 100px;
}

.sp-logo {
    width: 45px;
    height: 100px;
}

.values-text .aboutusHeading {
    margin-bottom: 1%;
    font-weight: 700;
}

.valuesSubHeading {
    text-align: center;
    color: #EE2529;
    font-weight: 700;
}

.about_card {
    background-color: #FFDD00;
    width: 200px;
    height: 662px;
    font-size: 13px;
    margin-left: 20px;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
}

.about_card .p-5 {
    padding-bottom: 15% !important;
}

.about_card h5 {
    margin-bottom: 10%;
    color: #EE2529;
    font-weight: 700;
}

.about_card ul {
    text-align: left;
    padding: 2%;
}

.about_card li {
    margin-bottom: 5%;
}

.about_card .flex-center {
    padding: 0px auto 10px;
}

.bottom_color {
    position: absolute;
    top: 1728px;
    background: #EE2529;
    height: 32px;
    border-radius: 34px 0px 0px 0px;
    width: 200px;
}

@media (min-width:200px) and (max-width:600px) {

    .bottom_color {
        display: none;
    }

    .about_card {
        width: 100%;
        margin: 0px 12%;
        margin-bottom: 10%;
        height: 100%;
    }

    .about_card h5 {
        margin-bottom: 0;
    }

    .bottom_color {
        position: relative;
        top: 34px;
    }
}

/* OUR VALUES */


/* STORE PRESENCE */
.info {
    text-align: center;
    margin: 3% auto;
}

.storeList {
    text-align: center;
}

.storeList .horizontalRule {
    margin: 1% 0px !important;
}

.address {
    margin: 1% 0px;
}

.address:nth-child(odd) {
    margin-bottom: 1%;
}

@media (min-width:200px) and (max-width:600px) {
    .store-presence h2 {
        margin-bottom: 5% !important;
    }

    .storeList p {
        text-align: left;
        margin-bottom: 3% !important;
    }
}

/* STORE PRESENCE */