@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    /* position: absolute; */
}

/* common */
.dn {
    display: none;
}

.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.common-header {
    /* margin-top: 100px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #3A3A3A;
}

.common-top-margin {
    margin-top: 80px;
}

.cicle-indicator {
    border: 2px solid red !important;
}

@media (max-width:1023px) {

    ol {
        margin-bottom: 0 !important;
    }

    .cicle-indicator {
        position: relative;
        top: 12px;
        margin-right: 3px;
    }
}

@media (min-width:641px) and (max-width:1000px) {
    .swiper {
        margin-top: 10%;
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: #EE2529 !important;
}


.swiper-button-next::after {
    margin-left: 90px;
    font-size: 24px !important;
    line-height: 32px !important;
}

.swiper-button-prev::after {
    margin-right: 90px;
    font-size: 24px !important;
    line-height: 32px !important;
}

@media (min-width:400px) and (max-width:435px) {
    .swiper-button-next::after {
        margin-left: 170px !important;
    }
    .swiper-button-prev::after {
        margin-right: 170px !important;
    }
}

@media (max-width:485px) {
    .swiper-button-next {
        left: 230px !important;
    }

    .swiper-button-prev {
        left: initial !important;
        right: 230px !important;
    }
}

.common-subheader {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #EE2529;
}

.common-subheader-1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #EE2529;
}

/* NAVBAR CSS PROPERTIES START*/

header {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px 1px rgb(0 0 0 / 10%);
    align-items: center;
}

.navbar {
    color: #FFFFFF;
    padding: 0px 16px 0px 26px;
    box-shadow: 0px 4px 25px 1px #0000001A;
    /* position: fixed;
    width: 100%; */
}

.navbar-brand {
    margin-right: 0;
    text-align: center;
}

.navbar-brand img {
    width: 100%;
}

.menu__list__items {
    display: flex;
    list-style-type: none;
    gap: 25px;
    text-transform: uppercase;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
    margin-left: auto;
    padding: 0px 10px;
    color: #3A3A3A;
    text-align: center;
    font-size: .875rem;
}

.menu__list__items .nav-link {
    padding-top: 0px;
    padding-bottom: 0px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(32,48,117, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(32,48,117, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (min-width:200px) and (max-width: 640px) {
    .navbar-brand {
        text-align: left;
        margin-left: 2%;
        width: 45%;
    }

    .navbar-brand img {
        width: 50%;
    }
}

/* NAVBAR CSS PROPERTIES END */

/* HERO SECTION */

.hero-header {
    font-family: Montserrat;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    color: #EE2529;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    text-align: left;
}

.hero-subheader {
    font-weight: 700 !important;
    color: #181818;
    text-transform: none;
}

.hero-section {
    background-color: #FFDD00;
    width: 100%;
}

.hero-content {
    padding-top: 152px;
    padding-left: 41px;
    padding-bottom: 250px;
}

.hero-text {
    width: 420px;
    height: 18px;
    padding-top: 40px;
    font-weight: 400;
    line-height: 22px;
    color: #000;
}

.hero-image {
    width: 100%;
    margin: 20% auto;

}

.desktop-hero-section {
    background-image: url("./assets/banner_img.png");
    height: 75vh;
    background-repeat: no-repeat;
}

.desktop-hero-text-container {
    transform: translate(100px, 160px);
}

@media (min-width:200px) and (max-width:1000px) {
    .small {
        display: initial !important;
    }

    .desktop-view {
        display: none !important;
    }
}

@media (min-width:1001px) {
    .desktop-view {
        display: initial;
    }

    .small {
        display: none !important;
    }
}

/*
@media (max-width: 500px) {

    .hero-content {
        padding-top: 100px;
        padding-bottom: 150px;
    }

    .hero-header {
        font-size: 50px;
    }

    .hero-text {
        width: 70%;
        padding-right: 10%;
    }

    .hero-text p {
        font-size: 22px;
    }

    .hero-image {
        display: none;
    }

    .desktop-view {
        display: none !important;
    }
} */

/* CATEGORIES UPDATED CSS */
.categories {
    text-align: center;
    margin: 3rem auto;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 0px;
}

.cardy .image {
    width: 200px;
    height: 270px;
    border-radius: 25px;
    padding: 3px;
    margin: 0px auto;
}

.cardy .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    background-color: #FFDD00;
}

.cardy {
    width: 280px;
}

.card-content {
    margin-bottom: 2%;
}

.card-text span {
    position: relative;
    bottom: 65px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper .common-subheader {
    margin-bottom: 5%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide:hover {
    transform: translateY(-0.4rem);
    transition: 0.25s ease-in-out;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .category-explore {
    margin: 3% auto 10% !important;
} */


@media (max-width:480px) {
    .cardy .image img {
        width: 100%;
        height: 100%;

    }

    .swiper-slide {
        margin-top: 7%;
    }

    .category-explore {
        margin: 5% auto 10% !important;
    }
}

@media (min-width:641px) and (max-width:1000px) {
    .category-explore {
        margin-top: 7% !important;
    }
}

/* about us */

.about {
    /* margin-top: -32px; */
    /* background-image: url("./assets/home/clip-img.png"); */
    /* height: 122vh; */
    background: #f1f1f1;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    height: 550px;
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-img img {
    padding-top: 0 !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 45%;
    padding-left: 5%;
    padding-top:4% ;
}

.about-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
}

.about-us-btn {
    margin-top: 5% !important;
    margin-left: 0px !important;
}

@media (max-width:1023px) {
    .about {
        background: #f1f1f1;
        clip-path: none;
        height: 100%;
        border-radius: 25px;
        margin: 10% 5%;
        padding: 5% 0px;
    }

    .content {
        width: 100%;
        text-align: center;
    }

    .about-us-btn {
        margin: 0px auto !important;
    }
}

/* services */

.service-container {
    margin-top: 60px;
}

.service-box {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 10px 22px 3px rgba(238, 37, 41, 0.09);
    border-radius: 15px;
    padding: 10px;
    height: 95%;
}

.service-logo {
    transform: translate(73%, 88%);
}

.service-logo-grocery {
    transform: translate(44%, 35%);
}

.service-icon {
    background: #EE2529;
    opacity: 0.3;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
    height: 100px;
    min-width: 100px;
    margin: auto 0px;
}

.service-tag {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin-top: 15px !important;
}

.service-tag h6 {
    font-weight: 700;
}

.service-box-card {
    color: #000;
}

.service-box-card:hover {
    color: #000;
    text-decoration: none;
}

.service-box:hover {
    text-decoration: none;
    color: #000;
    transform: translateY(-0.4rem);
    transition: 0.25s ease-in-out;
}

@media (min-width:300px) and (max-width:400px) {
    .service-icon {
        width: 50% !important;
    }

    .service-logo {
        transform: translate(6px, 21px) !important;
    }

    .sp-service-icon {
        width: 60% !important;
    }
}

@media (min-width: 200px) and (max-width:640px) {
    .service-box {
        border: 1px solid #000;
        width: 100%;
        height: 150px;
        margin-bottom: 5%;
    }

    .service-icon {
        width: 44%;
    }

    .sp-service-icon {
        width: 53%;
    }

    .service-logo {
        width: 50px;
        height: 50px;
        transform: translate(29px, 21px) !important;
    }
}

@media (min-width:641px) and (max-width:1000px) {
    .service-container {
        margin-top: 10% !important;
    }

    .service-icon {
        width: 100px;
        margin: 2% 0px;
    }

    .sp-service-icon {
        width: 117.2px !important;
        margin: 0px !important;

    }

    .service-logo {
        transform: translate(14px, 20px);
    }

    .service-container .service-logo {
        transform: translate(26px, 24px);
    }

    .service-container .col-md-4 {
        margin-bottom: 3%;
    }
}

/* supermarket */
/* 
.supermarket-details {
    width: 100%;
    height: 100%;
    padding: 1%;
    margin: 3% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.supermarket-section-top {
    left: -10%;
}

.supermarket-section-bottom {
    left: 10%;
}

.text-div {
    position: absolute;
    background: #FFDD00;
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    z-index: 1;
    position: absolute;
}

.card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0px;
}

.card-2 {
    left: 0px;
}


.text-div img {
    position: absolute;
    left: -26px;
}

.mkt-img {
    width: 100%;
    object-fit: cover;
}

.bags {
    opacity: 0.65;
}

@media (max-width:1023px) {
    /* .supermarket-details .mkt-img {
        margin-bottom: 3%;
    } 

    .supermarket-details {
        position: initial;
        display: initial;
    }

    .text-div {
        position: initial;
        width: fit-content;
    }

    .text-div img {
        width: 100%;
        position: initial;
    }
} */

/* @media (min-width:641px) and (max-width:1000px) {

} */

/* keypoint section */
.keypoint-container {
    margin-top: 5%;
}

.keypoint-lady {
    width: 100%;
    margin: 15% auto;
}

.keypoint-services {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0%;
}

.keypoint-services .service-logo-grocery {
    margin-left: 6px;
}

.keypoint-services-content {
    display: inline-block;
}

.keypoint-heading {
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    letter-spacing: 1px;
    color: #3A3A3A;
    font-size: 42px;
}

.keypoint-subheading {
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    letter-spacing: 1px;
    color: #EE2529;
    font-size: 22px;
}

@media (min-width:200px) and (max-width:640px) {

    .keypoint-services .service-logo {
        margin-left: -3px;
    }

    .keypoint-lady {
        margin-bottom: 10%;
    }

    .keypoint-heading,
    .keypoint-subheading {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .keypoint-container {
        margin-bottom: 20%;
    }
}



/* CTA section  */

.CTA {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 3rem 0px;
    height: 100%;
}

.CTA-encourage {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
}


.CTA-action-btn1 {
    background-color: #EE2529;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #EE2529;
    border-radius: 8px;
    width: 184px;
    height: 50px;
    text-transform: uppercase;
    display: block;
    margin:1rem auto;
    margin-top: 0px;
}

/* .CTA-action-btn2 {
    background-color: #f1f1f1 !important;
    color: #EE2529;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #EE2529;
    border-radius: 8px;
    width: 184px;
    height: 50px;
    text-transform: uppercase;
    display: block;
    margin-top: 4rem;
} */

@media (min-width:200px) and (max-width:640px) {
    .CTA {
        height: 100%;
        background-image: none;
        padding-top: 0;
    }

    .CTA-encourage {
        font-size: 18px;
        margin-bottom: 20px;
        padding: 5px;
    }

    .CTA-encourage .common-subheader {
        font-size: 19px;
    }

    .CTA button {
        display: block;
        font-size: 16px;
        margin: auto;
    }

    .horizontalRule {
        margin-bottom: 10% !important;
    }

    .CTA .container {
        padding: 6%;
    }
}



/* FOOTER SECTION START */

.horizontalRule {
    text-align: center;
    margin: 3% auto;
    margin-top: 0px;
}

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 6%;
}


.logo img {
    width: 176px;
    height: 132px;
}

.footer-header {
    color: #3A3A3A;
    line-height: 22px;
    margin: 24px 0px;
}

.footer-link {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 18px;
}

.footer-link a {
    cursor: pointer;
    color: #3A3A3A;
}

.footer .col-md-4 ul {
    list-style: none;
}

.social-icon {
    margin-right: 30px;
    background-color: #EE2529;
    clip-path: circle();
    /* font-size: 100px; */
}

.social-icon:hover {
    text-decoration: none;
    background-color: #FFDD00;
}

.social-icon:last-child {
    margin-right: 0px;
}

.social-icon i {
    color: #fff;    
    /* width: 100px; */
    z-index: 1;
}

@media (max-width:1000px) {
    .footer {
        text-align: center;
    }

    .footer .logo img {
        width: 145px;
        height: 132px;
    }

    .col-md-4 li {
        text-align: center;
    }
}

/* FOOTER SECTION END */

.legal {
    display: flex;
    justify-content: space-between;
    margin: 0px 2%;
}

@media (max-width:1000px) {
    .legal {
        display: initial;
        width: 65%;
        margin: 0px auto;
        text-align: center;
    }
}